*{
    font-family: "Handlee", cursive;
}
.header{
    height:60vh;
    background-image: url(../src/assets/img/FondoCabecera.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hover-scale {
    transition: transform 0.3s ease-in-out; 
}

.hover-scale:hover {
    transform: scale(1.5); 
    z-index: 10;            
}
.footer{
    height: 50vh;
    background-image: url(../src/assets/img/footerFondo.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    position: relative;
}
.footer-shadow{
    position: absolute;
    top:0;
    bottom:0;
    left:0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
}
